{% extends "knowledge_base/base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<h1>{{ article.title }}</h1>
<p class="text-muted">
    Category: <a href="{% url "knowledge_base:category_article_list" article.category.pk %}">{{ article.category.name }}</a> |
    Author: {{ article.author.username }} |
    Published on: {{ article.created_at|date:"F d, Y" }}
</p>
<hr>
<div>
    {{ article.content|linebreaks }}
</div>
<hr>
<a href="{% url "knowledge_base:article_list" %}" class="btn btn-primary">Back to Articles</a>
{% endblock %}
